* {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
}

main {
    width: 100%;
    height: 100vh;
    background-image: url(https://images4.alphacoders.com/640/thumb-1920-640956.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    text-transform: uppercase;
}

h1 {
    margin-bottom: 30px;
    font-size: 40px;
    letter-spacing: 5px;
    color: white;
}

h5 {
    color: white;
}

h6 {
    font-size: 20px;
    color: black;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    margin: 0 auto;
    max-width: 500px;
}

.input {
    flex: 1 1 40%;
    margin: 15px;
    appearance: none;
    background: none;
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    border: none;
    outline: none;
    transition: 0.4s;
    max-width: 100%;
}

::placeholder {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}